VITE_CHAIN_ID=11155111
VITE_CHAIN_NAME=Sepolia
VITE_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
VITE_READ_RPC_URL=/rpc/sepolia
VITE_ERC20_ADDRESS=
VITE_DEFAULT_QUERY_ADDRESS=
VITE_DEFAULT_RECIPIENT=
